html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:root {
  margin: 0;
  top: 0;
  left: 0; }

body {
  background-color: yellow;
  background-image: -webkit-linear-gradient(-585deg, yellow, lavender);
  background-image: linear-gradient(315deg,yellow, lavender);
  font-family: "Helvetica Nueue", "Helvetica", Arial, sans-serif;
  min-width: 500px; }

h1 {
  color: purple;
  font-size: 3rem;
  text-shadow: 3px 2px 1px white;
  padding: 5px;
  margin: 5px; }

h2 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

.title {
  display: inline-block;
  padding: 15px; }

.navbar {
  color: #A32006;
  max-width: 480px;
  margin: 0 auto;
  padding: 5px; }
  @media screen and (min-width: 960px) {
    .navbar {
      border-radius: 5px;
      padding: 15px;
      margin: 10px 15px;
      max-width: 960px; } }

.navbar li {
  padding: 5px;
  margin: 5px 90px;
  max-width: 250px; }
  @media screen and (min-width: 490px) {
    .navbar li {
      display: inline-block;
      background: #101004;
      color: white;
      border-radius: 5px;
      padding: 10px;
      margin: 5px 10px;
      border: 3px soild #F8F8F8; } }
  .navbar li:hover {
    border: 3px solid #101004;
    background: #F8F8F8;
    color: #101004; }

.container {
  max-width: 970px; }

.content {
  color: #F8F8F8;
  text-shadow: 1px 1px .5px black; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 1000px) {
    .content {
      display: block;
      margin: 0 auto; } }

.south-park-tile {
  background-color: #37770E;
  height: 360px;
  width: 480px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  position: relative; }
  .south-park-tile:hover {
    background: #61d219; }
  @media screen and (min-width: 1000px) {
    .south-park-tile {
      float: left; } }

.south-park-tile::after, .simpsons-tile::after, .futurama-tile::after, .archer-tile::after {
  content: "";
  background-image: url("../img/spark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1; }

.simpsons-tile {
  background-color: #F0ED1D;
  height: 360px;
  width: 480px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  position: relative; }
  .simpsons-tile:hover {
    background: #faf8ac; }
  @media screen and (min-width: 1000px) {
    .simpsons-tile {
      float: left; } }

.simpsons-tile::after {
  content: "";
  background: url("../img/simpsons.jpg");
  background-size: cover; }

.futurama-tile {
  background-color: purple;
  height: 360px;
  width: 480px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  position: relative; }
  .futurama-tile:hover {
    background: #e600e6; }
  @media screen and (min-width: 1000px) {
    .futurama-tile {
      float: left; } }

.futurama-tile::after {
  background: url("../img/futurama.jpg");
  background-size: contain; }

.archer-tile {
  background-color: #369;
  height: 360px;
  width: 480px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  position: relative; }
  .archer-tile:hover {
    background: #6699cc; }
  @media screen and (min-width: 1000px) {
    .archer-tile {
      float: left; } }

.archer-tile::after {
  content: "";
  background: url("../img/archer.jpg"); }

.simpsons-inset,
.spark-inset,
.archer-inset,
.futurama-inset {
  width: 440px;
  height: 140px;
  border: 3px solid #F8F8F8;
  position: relative;
  top: 180px;
  z-index: 999;
  padding: 20px; }

.spark-inset {
  top: 0px;
  background: #37770E; }

.simpsons-inset {
  background: orange; }

.archer-inset {
  background: #369; }

.futurama-inset {
  background-color: purple; }

.score, .likes {
  display: inline-block;
  margin: 20px; }

.button {
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 25%;
  border: 3px solid #F8F8F8;
  background-color: inherit;
  position: relative;
  left: 40px;
  font-size: 1.25rem; }
  .button:hover {
    color: #ffff66;
    height: 42px;
    width: 83px; }

.container, footer {
  display: block;
  margin: 0 auto; }

header, .navbar li {
  text-align: center; }

footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #101004;
  color: lightblue;
  padding: 10px 25px;
  width: 480px;
  margin-bottom: 3px; }
  @media screen and (min-width: 1000px) {
    footer {
      width: 960px;
      margin: 0;
      left: 0; }
      footer::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (min-width: 1000px) {
    footer #copyright {
      display: inline-block; } }

/*# sourceMappingURL=styles.css.map */
