html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:root {
  margin: 0;
  top: 0;
  left: 0; }

body {
  font-family: "Helvetica Nueue", "Helvetica", Arial, sans-serif; }

h1 {
  color: purple;
  font-size: 2rem;
  padding: 5px;
  margin: 5px; }

h2 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

.navbar {
  color: tomato;
  max-width: 480px; }
  @media screen and (min-width: 1000px) {
    .navbar {
      border-radius: 5px;
      padding: 10px;
      margin: 5px 10px;
      max-width: 1000px; } }

.navbar li {
  padding: 5px;
  margin: 5px 25px; }
  @media screen and (min-width: 600px) {
    .navbar li {
      display: inline-block;
      background: #000;
      color: white;
      border-radius: 5px;
      padding: 10px;
      margin: 5px 10px; } }
  .navbar li:hover {
    border: 3px solid #000;
    background: #fff;
    color: #000; }

.title {
  display: inline-block;
  padding: 15px; }

.south-park-tile {
  width: 480px;
  height: 360px;
  display: block;
  position: relative;
  padding: 20px;
  background: green; }
  @media screen and (min-width: 1000px) {
    .south-park-tile {
      float: left; } }

.south-park-tile::after {
  content: "";
  background-image: url("../img/spark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1; }

.simpsons-tile {
  width: 480px;
  height: 360px;
  display: block;
  position: relative;
  padding: 20px;
  background: yellow; }
  @media screen and (min-width: 1000px) {
    .simpsons-tile {
      float: left; } }

.simpsons-tile::after {
  content: "";
  background: url("../img/simpsons.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1; }

.futurama-tile {
  width: 480px;
  height: 360px;
  display: block;
  position: relative;
  padding: 20px;
  background: purple; }
  @media screen and (min-width: 1000px) {
    .futurama-tile {
      float: left; } }

.futurama-tile::after {
  content: "";
  background: url("../img/futurama.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1; }

.archer-tile {
  width: 480px;
  height: 360px;
  display: block;
  position: relative;
  padding: 20px;
  background: #369; }
  @media screen and (min-width: 1000px) {
    .archer-tile {
      float: left; } }

.archer-tile::after {
  content: "";
  background: url("../img/archer.jpg");
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1; }

.simpsons-inset,
.spark-inset,
.archer-inset,
.futurama-inset {
  width: 440px;
  height: 140px;
  border: 3px solid #fff;
  position: relative;
  top: 180px;
  z-index: 999;
  padding: 20px; }

.spark-inset {
  top: 0px;
  background: green; }

.simpsons-inset {
  background: orange; }

.archer-inset {
  background: #369; }

.futurama-inset {
  background-color: purple; }

.score, .likes {
  display: inline-block;
  margin: 20px; }

.content {
  color: #fff;
  margin: 0 auto; }

.button {
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 25%;
  border: 3px solid #fff;
  background-color: inherit;
  position: relative;
  left: 40px;
  font-size: 1.25rem; }
  .button:hover {
    height: 45px;
    width: 90px; }

footer {
  background: #000;
  color: lightblue;
  padding: 20px;
  width: 480px; }
  @media screen and (min-width: 1000px) {
    footer {
      width: 960px; } }
  footer #copyright {
    margin-top: 10px; }
    @media screen and (min-width: 1000px) {
      footer #copyright {
        display: inline-block;
        padding-top: 15px; } }

/*# sourceMappingURL=styles.css.map */
