
.button {
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 25%;
  border: 3px solid $white;
  &:hover {
    color: lighten(yellow, 20%);
    height: 42px;
    width: 83px;
  }
  background-color: inherit;
  position: relative;
  left: 40px;
  font-size: 1.25rem;
}
