
$font-stack: "Helvetica Nueue", "Helvetica", Arial, sans-serif;

$white: #fff;
$black: #000;
$grey: #ccc;
$sass-blue: #369;
$green: green;
$yellow: yellow;
$red: tomato;
$background: #eee;


body {
  @include linear-gradient(315deg, yellow, lavender);
  font-family: $font-stack;
  min-width: 500px;
  // background: $background;
}

h1 {
  color: purple;
  font-size: 3rem;
  text-shadow: 3px 2px 1px white;
  padding: 5px;
  margin: 5px;
}

h2 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}
