
$font-stack: "Helvetica Nueue", "Helvetica", Arial, sans-serif;

$white: #fff;
$black: #000;
$grey: #ccc;
$sass-blue: #369;
$green: green;
$yellow: yellow;
$red: tomato;
$background: lavender;


body {
  font-family: $font-stack;
  min-width: 500px;
  background: $background;
}

h1 {
  color: purple;
  font-size: 2rem;
  padding: 5px;
  margin: 5px;
  margin-left: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}
