
$font-stack: "Helvetica Nueue", "Helvetica", Arial, sans-serif;

$white: #F8F8F8;
$black: #101004;
$grey: #c6c6c6;
$sass-blue: #369;
$green: #37770E;
$yellow: #F0ED1D;
$red: #A32006;

body {
  @include linear-gradient(315deg, yellow, lavender);
  font-family: $font-stack;
  min-width: 500px;
  // background: $background;
}

h1 {
  color: purple;
  font-size: 3rem;
  text-shadow: 3px 2px 1px white;
  padding: 5px;
  margin: 5px;
}

h2 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}
