footer {
  background: $black;
  color: lightblue;
  padding: 20px;
  width: 480px;
  display: block;
  margin: 0 auto;
  @media screen and (min-width: 1000px) {
    width: 960px;
  }
  #copyright {
    margin-top: 10px;
    @media screen and (min-width: 1000px) {
      display: inline-block;
      padding-top: 15px;

    }
  }
}
