footer {
  @include border-bottom-radius(10px);
  @extend %center;
  background: $black;
  color: lightblue;
  padding: 10px 25px;
  width: 480px;
  margin-bottom: 3px;
  @media screen and (min-width: 1000px) {
    @include clearfix;
    width: 960px;
    margin: 0;
    left: 0;
  }
  #copyright {
    @media screen and (min-width: 1000px) {
      display: inline-block;
    }
  }
}
