.navbar {
  color: tomato;
  max-width: 480px;
  @media screen and (min-width: 1000px) {
    border-radius: 5px;
    padding: 10px;
    margin: 5px 10px;
    max-width: 1000px;
  }
}

.navbar li {
  padding: 5px;
  margin: 5px 25px;
  @media screen and (min-width: 600px) {
    display: inline-block;
    background: $black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 10px;
  }
  &:hover {
    border: 3px solid $black;
    background: $white;
    color: $black;
  }
}


.title {
  display: inline-block;
  padding: 15px;
}
