
@mixin tile($background, $height: 360px, $width: 480px, $padding: 20px, $display: block) {
  background-color: $background;
  height: $height;
  width: $width;
  padding: $padding;
  display: $display;
}
